@tailwind base;
@tailwind components;
@tailwind utilities;

.prose p,
.prose h1,
.prose h2,
.prose h3,
.prose ul,
.prose ol,
.prose blockquote {
  margin: 0;
}

.mdxeditor-toolbar {
  background-color: inherit !important;
}

._tooltipTrigger_r5eta_634 {
  background-color: inherit !important;
}

._selectTrigger {
  background-color: --var(--b1);
}
